body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}
.navbar-toggler{
  color: white;
}
  .navigation{
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    z-index: 1030;
    font-family: 'Lato', sans-serif;
    background-color: #2b2d26;
  }

.navigation a{
 color: #9d9d9d;
}
.navigation a:hover{
 color: white;
}
.heading{
 padding-top: 179px;
 padding-bottom: 179px;
 color: black;
 /* background: #cb2d3e;
background: -webkit-linear-gradient(to right, #ef473a, #cb2d3e);
background: linear-gradient(to right, #ef473a, #cb2d3e); */


}
.bgback{
  background-image: url('image/slider.jpg');
  background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.heading input{
 color: #9d9d9d;
 background-color: #2b2d26;
}
.heading input:hover{
 color: black;
 background-color: white;
}
.product{
 width: 100%;
 background-color: white;
}
.productone{
  box-shadow: 1px 1px 1px 1px black;
}
/* .productone:hover{
  border: 2px solid black;
} */

.productone img{
 padding: 30px 85px;

}

.footer{
  padding-top: 30px;
  color: white;
  background-color: #2b2d26;
}
.brand{
  position: relative;
  width: 100%;

}

.brandback{
  background: #cb2d3e;  /* fallback for old browsers */
 background: -webkit-linear-gradient(to right, #ef473a, #cb2d3e);  /* Chrome 10-25, Safari 5.1-6 */
 background: linear-gradient(to right, #ef473a, #cb2d3e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.btnposition{
  margin-left: 50%;
  margin-bottom: 10px;
  transform: translate(-50%,0);
}

.discount{
  position: absolute;
  margin-top: 10%;
  width: 60px;
  height: 30px;
  background-color: red;
}
